Localization
{
    ja
    {
        #autoLOC_K5_AF = K-5 "Milky Way" 後部胴体モジュール
        #autoLOC_K5_AB = K-5 "Milky Way" エアブレーキ
        #autoLOC_K5_ELV = K-5 "Milky Way" エレボン
        #autoLOC_K5_ENG = KF6-80 "Burro"
        #autoLOC_K5_FLP = K-5 "Milky Way" フラップ
        #autoLOC_K5_FFM = K-5 "Milky Way" 前部胴体モジュール
        #autoLOC_K5_FG = K-5 "Milky Way" 前脚
        #autoLOC_K5_MG = K-5 "Milky Way" 主脚
        #autoLOC_K5_WNG = K-5 "Milky Way" 主翼
        #autoLOC_K5_MF = K-5 "Milky Way" 中央胴体
        #autoLOC_K5_STB = K-5 "Milky Way" 安定板
        #autoLOC_K5_TT = K-5 "Milky Way" T字尾翼
    }
}