Localization
{
    ru
    {
        #autoLOC_K5_AF = K-5 "Milky Way" Модуль задней части фюзеляжа
        #autoLOC_K5_AB = K-5 "Milky Way" Воздушный тормоз
        #autoLOC_K5_ELV = K-5 "Milky Way" Элевон
        #autoLOC_K5_ENG = KF6-80 "Burro"
        #autoLOC_K5_FLP = K-5 "Milky Way" Закрылок
        #autoLOC_K5_FFM = K-5 "Milky Way" Модуль передней части фюзеляжа
        #autoLOC_K5_FG = K-5 "Milky Way" Переднее шасси
        #autoLOC_K5_MG = K-5 "Milky Way" Основное шасси
        #autoLOC_K5_WNG = K-5 "Milky Way" Крыло
        #autoLOC_K5_MF = K-5 "Milky Way" Средняя часть фюзеляжа
        #autoLOC_K5_STB = K-5 "Milky Way" Стабилизатор
        #autoLOC_K5_TT = K-5 "Milky Way" Т-образное оперение
    }
}